* {
  box-sizing: border-box;
}

.bg-color {
  background-image: url("/pics/430918.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

img {
  max-width: 100%;
  height: auto;
}

.picture {
  height: 235px;
  border-radius: 8px;
}

.anchor-link {
  position: absolute;
  top: -68px;
}

/* Header section */
header {
  padding: 0;
  margin: 0;
  background-color: #5094c6;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;
}

li {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

.navbar {
  min-height: 70;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 24px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.nav-branding {
  position: absolute;
  left: 60px;
  height: 50px;
  width: 50px;
}

.nav-link {
  color: white;
  transition: 0.7s ease;
}
.nav-link:hover {
  color: #05080c;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

@media(max-width:768px) {
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #5094c6;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    z-index: 10;
  }

  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active {
    left: 0;
  }
}


/* Main body */

.name-hero {
  color: white;
  font-family: "Lucida Console", "Courier New", monospace;
  font-weight: bold;
}

.home {
  margin-bottom: 60px;
}

main {
  margin-top: 20px;
}

main > div {
  margin: 20px 0;
  position: relative;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 30px;
}

h2 {
  text-align: center;
  margin-top: 30px;
}

h3 {
  text-align: center;
  margin-bottom: 30px;
}

.subsection {
  justify-content: space-evenly;
  margin: 30px;
}

.logo-section{
  display: flex;
  gap: 15px;
  justify-content: center;
}

.logo {
  height: 50px;
  width: 50px;
}

/* Card */

.card-img-top {
  height: 245px;
}

.card-bottom-section > .logo {
  height: 35px;
  width: 35px;
  justify-content: right;
}

.nb-card {
  display: inline-block;
  margin: 1rem;
}

.nb-col {
  padding: 1rem;
  background-color: #5094c6;
  border-radius: 8px;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
  background-color: #20609f !important;
}

/* .fredrik {
    background-color: white;
    border-radius: 10px;
    margin: auto;
    overflow: auto;
    border: 1px solid black;
}

.fredrik div {
    padding: 20px;
}

.fredrik a {
    background-color: #0d6efd;
    color: white;
    padding: 7.5px 10px;
    text-decoration: none;
    border-radius: 5px;
}

@media screen and (min-width: 480px) {} */
