.nb-card {
    display:inline-block;
    margin: 1rem;
}

.nb-col {
    padding: 1rem;
    background-color: cyan;
    border-radius: 8px;
}

.header-menu {
    height: 50px;
    padding-top: 10px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    background-color: white;
}

.logo {
    height: 50px;
    width: 50px;
}

* {
    box-sizing: border-box;
    }
